@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
