@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edit Course</h1>

<form action="/Course/EditCourseDb">
    <input id="id" name="id" value="@Model.Id" hidden/>

    <label>Name</label>
    <input id="Name" name="Name" type="text" value="@Model.Name"/>

    <label>Description</label>
    <input id="Description" name="Description" type="text" value="@Model.Description" />

    <label>Hours</label>
    <input id="hours" name="hours" type="number" value="@Model.hours" />

    <label>Instructor</label>
    <select id="InstructorId" name="InstructorId">
        @foreach (var ins in ViewBag.ins)
        {
            @if(ins.Id == Model.InstructorId)
            {
                <option value="@ins.Id" selected>@ins.Name</option>
            }else{
                <option value="@ins.Id">@ins.Name</option>
            }
        }
    </select>

    <input type="submit" value="Edit" />
</form>
