@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Course>
@{
    int i = 1;
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>()
    {
        {"Id","2"},
        {"name","ali"}
    };
}

<a asp-action="Add" asp-controller="taghelpers">Add Course</a>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.hours</td>
                <td><a asp-action="Add" asp-controller="taghelpers" asp-route-id="@item.Id" asp-all-route-data="keyValuePairs">Edit</a></td>
            </tr>
        }
    </tbody>
</table>